.btn {

  &--main {
    @include button($btn-primary: true);
  }

  &--added {
    @include button($btn-primary: false);
  }

  &--tertiary {
    @include button($btn-primary: true);
    border: 1px solid $white;
    padding: 8px 16px;

    &:hover {
      color: $blue-700;
      background: $white;
    }
  }
}

.switch-selected {
  @include button($btn-primary: true);
  &:hover, &:active {
    box-shadow: none;
    background: $primary;
    color: $white;
    cursor: unset;
    border: 1px solid $primary;
  }
}

.btn-text {
  font-size: 1.8rem;
  letter-spacing: 0.75px;
  font-weight: 500;
}

.btn-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn-sign {
  display: flex;
  align-items: center;
  transition: all 300ms ease;
  transform: translateX(-10px);
  @include mobile {
    margin-left: 1.5rem;
  }
}

.btn-secondary {
  display: flex;
  position: relative;
  align-items: flex-end;
  border-radius: 4px;
  width: 100%;

  @include mobile {
    padding: 1rem 4rem;
    align-items: center;
  }

  &--main {
    @include button($btn-primary: true);
    @extend .btn-secondary;
    max-width: 48rem;
    padding: 3rem 4rem;
    @include tablet {
      padding: 2rem 4rem;
    }

    &:hover .btn-sign {
      transform: translateX(15px);
    }

    & .btn-action .btn-sign {
      fill: $white;
    }


  }

  &--submit {
    @extend .btn-secondary;
    @include button($btn-primary: true);
    width: 100%;
    padding: 3rem 4rem;

    & .btn-action .btn-sign {
      fill: $white;
    }
  }

  &--light {
    @extend .btn-secondary;
    @include button($btn-primary: false);
    max-width: 48rem;
    padding: 3rem 4rem;

    &.short-btn {
      max-width: 35rem;
      @include tablet {
        margin-top: 2.5rem;
        width: 100%;
        max-width: none;
      }
    }

    @include tablet {
      padding: 2rem 4rem;
    }

    & .btn-action .btn-sign {
      fill: $primary;
    }

    &:hover .btn-sign {
      transform: translateX(15px);
    }
  }

  &--added {
    @extend .btn-secondary;
    @include button($btn-primary: false);
  }

  &--tall {
    @extend .btn-secondary;
    @include button($btn-primary: true);
    display: flex;
    max-width: none;
    height: 100%;
    padding: 4.5rem 4rem;

    .icon {
      fill: $white;
    }

    &:hover {
      background: $blue-700;
    }

    &:hover .btn-sign {
      transform: translateX(15px);
    }
  }

  &--dual {
    @extend .btn-secondary;
    @include button($btn-primary: false);
    padding: 2rem;
    border-radius: 4px;
    width: 100%;

    .icon {
      fill: $primary;
    }

    &:hover {
      background: lighten($primary, 55%);
    }

    &:hover .btn-sign {
      transform: translate(-10px, 7px);
    }
  }
}

.hovered .btn--added {
  border: 1px solid $grey-300;
}


.big-link {
  color: $blue-700;
  background: transparent;
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  display: block;
  margin-top: 1rem;
  transition: all 300ms ease;
  &:hover {
    text-decoration: underline;
  }
  @include small-desktop {
    margin-top: .5rem;
  }
}

.lang-btn {
  text-decoration: none;
  font-size: 1.6rem;
  color: $grey-800;
  display: flex;
  justify-content: start;
  align-items: center;

  .lang-label {
    margin-left: 1rem;
  }
}

.lang-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid $grey-200;
  border-radius: 4px;
  padding: 8px 12px;
  width: 11rem;
  max-height: 40px;
  @include desktop {
    width: 5rem;
  }
  @include small-desktop {
    width: 11rem;
  }
}
.lang {
  width: 10rem;
  color:  $grey-800;
  line-height: 25px;
  font-size: 14px;
  padding-left: 1rem;
  cursor: pointer;
  position: relative;

  @include desktop {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-left: 0;
    left: 0;
    opacity: 0;
  }
  @include small-desktop {
    opacity: 1;
    left: auto;
    position: relative;
    height: auto;
    width: 10rem;
    padding-left: 1rem;
  }
}
.lang-select {
  a {
    text-decoration: none;
  }
  @include desktop {
    position: absolute;
    right: -5px;
  }
  @include small-desktop {
    position: relative;
    right: auto;
  }
  @include mobile {
    margin-top: 2rem;
  }
}
ul.lang-selector {
margin: 0;
padding: 0;
display: none;
width: 15rem;
position: absolute;
@include desktop {
  width: 5rem;
}
@include small-desktop {
  width: 15rem;
}
}
ul.lang-selector > li {
  background: $white;
  display: flex;
  align-items: center;
  color:  $grey-800;
  line-height: 25px;
  font-size: 14px;
  padding: 8px 12px;
  cursor: pointer;
  list-style-type: none;
  border: 1px solid transparent;
  border-radius: 4px;
  border-bottom: 1px solid #f4f4f4;
  transition: all 300ms ease;
  max-height: 40px;
  a {
    text-decoration: none;
    font-size: 14px;
    color: $grey-800;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
  @include desktop {
    position: absolute;
    left: 0;
    opacity: 0;
  }
  @include small-desktop {
    position: relative;
    left: auto;
    opacity: 1;
  }

  }
  &:last-child { border-bottom: none;}
}

ul.lang-selector > li:hover, ul.lang-selector > li.active-lang {
  background: $blue-100;
}
.eng-temporary-class {
  border-radius: 4px;
  border: 1px solid $grey-200;
}


.lang-select-mobile {
  display: none;
  a {
    text-decoration: none;
  }
  @include small-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
  }
  ul.lang-selector {
    position: relative;
    width: 90%;
  }
  .lang-wrapper {
    width: 100%;
    .lang {
      width: 100%;
    }
  }
}


