.contact {
  &__container {
    width: 100%;
    display: flex;
    @include tablet {
      flex-wrap: wrap;
    }

    &--menu, &--form {
      flex: 0 0 50%;
      @include tablet {
        flex: 0 0 100%;
      }
    }

    &--form {
      background: $grey-100;
    }
  }

  &__title {
    letter-spacing: .75px;
    margin-bottom: 2em;
    font-size: 1.8rem;
    font-weight: 500;
  }

  &__form, &__menu {
    max-width: 615px;
    @include desktop {
      max-width: 480px;
    }
    @include small-desktop {
      max-width: 360px;
    }
    @include tablet {
      max-width: 540px;
      margin: 0 auto;
    }
  }

  &__menu {
    margin-left: auto;
    @include tablet {
      //margin-left: 0;
    }
  }

  &__menu-panel {
    display: grid;
    gap: 1.6rem;

    padding-bottom: 3rem;

    a .btn-sign {
      @include tablet {
        transform: rotate(90deg);
      }
    }

    a:hover .btn-sign, a:active .btn-sign {
      @include tablet {
        transform: rotate(90deg) translate(15px, 0);
      }
    }

  }

  &__service {
    background: $grey-100;
    padding: 2.5rem;
    max-width: 48rem;

    p {
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
}
.map {
  width: 100%;
}