.decoration-container {
  position: relative;
}

.decoration {
  @include decorations {
    left: 100%;
  }

  &--footer {
    @include decorations(18.5rem) {
      right: 90%;
      z-index: 0;
    }
  }
}

.decoration-mid-right {
  @include decorations(25rem) {
    right: -30rem;
  }
}

.decoration-mid-right-to-inside {
  @include decorations(50%) {
    left: 90%;
  }
}
.decoration-mid-left-to-inside {
  @include decorations(20%) {
    right: 50%;
  }
}

.decoration-bottom-left {
  @include decorations(100%) {
    right: 90%;
  }
}

.decoration-bottom-left:last-child {
  margin-right: 20px;
}

.decoration-products {
  @include decorations {
    right: 110%;
  }
}

.decoration-products-left {
  @include decorations(57%) {
    right: 50%;
    @include tablet {
      right: -20%;
    }
  }
}

.decoration-products-right {
  @include decorations(26%) {
    left: 50%;
    @include tablet {
      left: -20%;
    }
  }
}

.decoration-product-top {
  @include decorations {
    left: 80%;
    @include tablet {
      left: 90%;
      top: -10%;
    }
  }
}

.decoration-inner {
  @include decorations(4rem) {
    left: 0;
    z-index: 1;
  }
}

.decoration-header {
  @include decorations(80%) {
    right: 70%;
    @include tablet {
      display: none;
    }
  }

  .stripe {
    &:nth-child(3),
    &:nth-child(4) {
      margin-left: -12rem;
    }
  }
}
.decoration-header-right {
  @include decorations(50%) {
    left: 100%;
    @include tablet {
      display: none;
    }
  }

  .stripe {
    &:nth-child(3),
    &:nth-child(4) {
      margin-left: -12rem;
    }
  }
}

.decoration-mid-right-many-length {
  @include decorations(50%) {
    left: 80%;
    @include small-desktop {
      display: none;
    }
  }

  .stripe {
    &:nth-child(3),
    &:nth-child(4) {
      margin-left: -12rem;
    }
  }
}
