.footer {
    min-height: 20rem;
    background: $grey-200;
    padding: 11.5rem 0;
    position: relative;
    overflow: hidden;
    @include tablet {
        padding: 4rem 0;
    }

    &__row {
        display: flex;
        width: 40%;
        margin-left: 10%;
        @include desktop {
            width: 50%;
            margin-left: 0;
        }
        @include tablet {
            display: none;
        }
    }

    &__textbox {
        background: $white;
        max-width: 48rem;
        // max-height: 30.6rem;
        padding: 3rem;
        border-radius: 2px;
        position: relative;
        z-index: 2;
        @include tablet {
            max-width: none;
            width: 100%;
        }
    }

    &__wrapper {
        padding-top: 2rem;
    }

    &__title {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 4rem;
    }

    &__copy {
        color: $grey-700;
        font-size: 1.6rem;
        line-height: 2.8rem;
        font-weight: 300;
    }

    &__nav {
        font-weight: 500;
        line-height: 2.4rem;
        font-size: 1.4rem;
        list-style: none;


        &--item {
            color: $primary;
            &:not(:first-child) {
                padding-top: 2.4rem;
            }
            a {
                color: $primary;
            }
        }
        &--subitem {
            color: $grey-700;
            padding-left: 3rem;
            position: relative;
            padding-top: 1rem;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0px;
                display: block;
                width: 1.5rem;
                height: 1px;
                background-color: $grey-700;

            }
            a {
                color: $grey-700;
            }
        }
    }

    &__nav-link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

}

.footer-logo {
    height: 60px;
}