.grid {
  margin: 7rem 0;
  display: grid;
  grid-gap: 1.5vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(21, 1fr);
  // min-height: 147.5rem;
  @include tablet {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }

  .item:nth-child(1) {
    grid-row: 1/9;
    @include tablet {
      grid-row: auto;
    }
  }

  .item:nth-child(2) {
    grid-row: 1/8;
    @include tablet {
      grid-row: auto;
    }
  }

  .item:nth-child(3) {
    grid-row: 9/16;
    @include tablet {
      grid-row: auto;
    }
  }

  .item:nth-child(4) {
    grid-row: 8/17;
    @include tablet {
      grid-row: auto;
    }
  }

  .item:nth-child(5) {
    grid-row: 16/21;
    @include tablet {
      grid-row: auto;
    }
  }

  .item:nth-child(6) {
    grid-row: 17/22;
    @include tablet {
      grid-row: auto;
    }
  }

  .item {
    background: #ddd;
    position: relative;
    @include tablet {
      max-width: 320px;
      height: 360px;
    }
  }
}

.grid-container {
  position: relative;
}

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: 20vw;
  row-gap: 5rem;
  column-gap: 2rem;
  margin: 5rem 0;
  @include mobile {
    // grid-template-columns: 1fr;
    // grid-template-rows: repeat(4, 20vw);
    grid-auto-rows: 60vw;
  }

  // dynamicall positioning every fourth element
  .item:nth-child(4n + 1) {
    grid-column: 1 / span 3;
    @include mobile {
      grid-column: 1 / -1;
    }
  }

  .item:nth-child(4n + 2) {
    grid-column: 4 / span 7;
    @include mobile {
      grid-column: 1 / -1;
    }
  }

  .item:nth-child(4n + 3) {
    grid-column: 1 / span 6;
    @include mobile {
      grid-column: 1 / -1;
    }
  }

  .item:nth-child(4n + 4) {
    grid-column: 7 / span 4;
    @include mobile {
      grid-column: 1 / -1;
    }
  }


  .item {
    background: $grey-300;
  }
}

.grid-cta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  max-height: 35vh;
  margin: 6rem 0;

  @include mobile {
    grid-template-columns: 1fr;
    max-height: 50vh;
  }

  .item {
    @include button($btn-primary: true);
    display: flex;
    position: relative;
    align-items: flex-end;
    border-radius: 4px;
    padding: 4.5rem 4rem;
    @include tablet {
      max-height: 15rem;
    }
    @include mobile {
      padding: 1rem 4rem;
      align-items: center;
    }
  }
}

.grid-testimonial {
  //display: grid;
  //grid-template-columns: repeat(2, 1fr);
  //grid-gap: 2rem;
  // Casual columns instead of grid.
  columns: 2;
  column-gap: 2rem;

  @include tablet {
    columns: 1;
  }
}

.grid-dual {
  display: grid;
  //grid-template-columns: repeat(auto-fill, minmax(200px, 580px));
  grid-template-columns: repeat(auto-fit, minmax(25rem, 580px));
  gap: 2rem;
  justify-content: center;
}

.grid-irregular {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 7.5rem;

  & > div {
    max-width: 49rem;

    &:nth-child(4n + 3),
    &:nth-child(4n + 4) {
      justify-self: end;
      @include mobile {
        justify-self: center;
      }
    }

    &:nth-child(2n + 2) {
      padding-top: 5rem;
      @include mobile {
        padding-top: 0;
      }
    }
  }

  @include small-desktop {
    gap: 2.5vw;
    justify-content: space-between;
  }
  @include tablet {
    gap: 2rem;
  }
  @include mobile {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.grid-single {
  display: grid;
  row-gap: 5rem;
  grid-template-columns: 1fr 90% 1fr;
  grid-template-rows: min-content;
  height: 100%;
  align-content: space-between;

  & div {
    grid-column: 2;
  }
}

.grid-btns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 2rem;


  // dynamicall positioning every fourth element
  // > :nth-child(4n + 1) {
  //   grid-column: 3 / 3 span;
  // }
  // > :nth-child(4n + 2) {
  //   grid-column: 1 / 3 span;
  // }
  // > :nth-child(4n + 3) {
  //   grid-column: 3 / 3 span;
  // }
  // > :nth-child(4n + 4) {
  //   grid-column: 2 / 3 span;
  // }

}

.refrence-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, minmax(1rem, max-content));

  .reference__container {
    grid-column: 2/5 span;
    grid-row: 1/-1;
    background: $grey-000;

    @include tablet {
      grid-column: 1 / -1;
      grid-row: 1 / 9;
      padding-bottom: 10rem;
    }
  }

  .reference__img-box {
    grid-column: 1 / 3;
    grid-row: 2 / 8 span;
    z-index: 20;
    @include desktop {
      grid-row: 2 / 5 span;
    }
    @include small-desktop {
      grid-row: 3 / 5 span;
    }

    @include tablet {
      grid-row: 7 / 4 span;
      grid-column: 3 / 5;
    }
  }
}

.reference__button {
  line-height: 28px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background: #0280c7;
  padding: 1em 1.5em;
  margin-top: 2em;
  border-radius: 4px;
  letter-spacing: 0.05em;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  & > svg {
    margin-left: 1em;
    fill: white;
  }

  @include tablet {
    display: none;
  }
}
