.map-info {

    background-color: $grey-000;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary;
    margin-bottom: 11.5rem;
    @include tablet {
        // padding: 0 4rem;
        margin-bottom: 5.5rem;
    }
    
    &__container {
        max-width: 1000px;
        min-height: 75rem;
        background-image: url("/assets/svg/world.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include desktop {
            justify-content: space-around;
        }

        @include tablet {
            background-size: cover;
        }
    }

    &__box {
        position: relative;
        flex: 0 0 30%;
        max-height: 250px;
        margin-top: 7.5rem;
        @include small-desktop {
            flex: 0 0 27%;
        }
        @include tablet {
            flex: 0 0 45%;
            max-height: 175px;
        }
        @include mobile {
            flex: 0 0 40%;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $primary;
            bottom: 25px;
            @include mobile {
                bottom: 5px;
            }
        }
        &::before {
            content: "";
            position: absolute;
            width: 66%;
            height: 1px;
            background-color: $primary;
            bottom: 9px;
            @include mobile {
                bottom: -11px;
            }
        }
    }


    &__counter {
        position: relative;
        font-size: 4rem;
        font-weight: 500;
        line-height: 6.4rem;
        animation-duration: 1s;
        animation-delay: 0s;


        &::after {
            position: absolute;
            content: "+";
        }
    }

    &__text {
        font-weight: 300;
        font-size: 1.8rem;
    }

}