.nav {
  height: 13rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background: $white;
  width: 100%;
  transition: all 500ms ease;
  border: 1px solid transparent;
  z-index: 1000;
  @include small-desktop {
    height: auto;
  }
    
  .lang-select {
    @include small-desktop {
      display: none;
    }
  }
  .brand {
    padding: 0 15px;
    @include desktop {
      padding: 0;
    }
    @include small-desktop {
      padding: 0 15px;
    }

    img {
      height: 60px;
    }
  }
  &.scrolled {
    border: 1px solid $grey-200;
    transition: all 500ms ease;
    height: 7.5rem;
    @include small-desktop {
      height: auto;
    }

    & a.menu-nav__link {
      height: 7.5rem;
      // border-bottom: 1px solid $grey-200;
      @include small-desktop {
        height: 5rem;
      }
    }

    & .menu-nav__dropdown {
      top: 99%;
      border-top: 1px solid transparent;
      a.menu-nav__link {
        height: auto;
        border-bottom: 1px solid $grey-200;
      }
    }
  }

  @include small-desktop {
    width: 100%;
    // height: 100%;
  }

  ul {
    list-style: none;
  }

  .menu-nav {
    display: flex;
    .selected-nav {
      background: $blue-000;
      color: $primary;
    }

    @include desktop {
      margin-right: 30px;
    }
    @include small-desktop {
      display: none;
      z-index: 2;
      background: white none repeat scroll 0% 0%;
      top: 8rem;
      right: 0px;
      width: 100%;
      height: 100vh;
      margin-right: 0;
    }

    &__item {
      position: relative;
      @include small-desktop {
        box-shadow: 0px 1px 1px -1px $grey-200;
      }
    }

    &__link {
      color: $grey-900;
      font-weight: 400;
      padding: 1rem 2rem;
      text-decoration: none;
      transition: all 200ms ease;
      font-size: 1.4rem;
      border-bottom: 1px solid transparent;
      height: 13rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;

      &:hover {
        // border-bottom: 2px solid $grey-200;
        color: $primary;
      }

      @include small-desktop {
        height: 7rem;
        padding: 2rem 4rem;
        justify-content: start;
      }
    }
    .dropdown-btn {
      display: block;
      height: 100%;
      position: absolute;
      width: 10px;
      right: 0;
      top: 0;

      @include small-desktop {
        width: 25%;
      }

      &::after {
        padding-left: 4px;
        position: absolute;
        content: " ▾";
        right: 6px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__dropdown {
      position: absolute;
      display: none;
      z-index: 1;
      border: 1px solid $grey-200;
      border-top: 1px solid $grey-200;
      top: 80%;
      a.menu-nav__link {
        height: auto;
        border-bottom: 1px solid $grey-200;
        padding-top: 1rem;
        padding-bottom: 1;
      }

      @include small-desktop {
        position: static;
        border: none;
        border-top: 1px solid $grey-200;
      }

      li {
        min-width: 19rem;
      }

      .menu-nav__link {
        background: #fff;
      }
    }
  }

  .nav-mobile {
    display: none;
    position: relative;
    top: 0;
    right: 0;
    height: 7rem;
    width: 7rem;

    @include small-desktop {
      display: block;
    }

    &__toggle {
      position: absolute;
      left: 13px;
      top: 22px;
      cursor: pointer;
      padding: 10px 35px 16px 0px;

      span,
      span:before,
      span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 2px;
        width: 35px;
        background: $primary;
        position: absolute;
        display: block;
        content: "";
        transition: all 300ms ease-in-out;
      }

      span:before {
        top: -10px;
      }

      span:after {
        bottom: -10px;
      }

      &.active span {
        background-color: transparent;

        &:before,
        &:after {
          top: 0;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.not-finished-yet {
  cursor: not-allowed;
}
.under-construction {
  position: absolute;
  background: $white;
  border-radius: 10px;
  border: 1px solid $grey-400;
  width: 150px;
  z-index: 1000;
  top: 10px;
  padding: 5px 2px;
  left: 0;
  display: none;
  @include small-desktop {
    display: none !important;
  }
}
