.flexslider {
  overflow: hidden;
  max-height: 650px;
  margin: 0;
  border: 0;
  border-radius: 0;
  ul.slides li.slider__item img.slider__item--img {
    height: 100%;
    @include tablet {
      height: 100%;
    }
    @include mobile {
      width: 140%;
      left: -25%;
    }
  }
  .custom-controls-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 2.5rem;
    .flex-control-nav {
      top: -10px;
    }
    .flex-control-paging li a {
      border-radius: 2px;
      width: 16px;
      height: 16px;
      background: $white;
      box-shadow: none;
      &.flex-active {
        background: $pri-accent;
      }
    }
  }
}

.section-flex-slider {
  position: relative;
  margin-top: 6rem;
  .flex-control-nav .flex-control-paging {
    display: none;
  }
}

.section-flex-slider,
.flexslider {

  .flex-prev, .flex-next {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }
  .flex-next {
    right: 0;
  }
  a.nav-arr {
    z-index: 1;
    display: flex;
    justify-content: center;
    background: $white;
    width: 4rem;
    height: 10.8rem;
    align-items: center;
    padding: 0 0.3rem;
    font-size: 2rem;
    text-decoration: none;
    color: $pri-accent;
    transition: all 200ms;
    @include mobile {
      height: 7rem;
      width: 2.5rem;
    }
    &:hover {
      background: $grey-400;
    }
  }
  .section-custom-navigation,
  .custom-navigation {
    
    z-index: 1;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    

  }
}

.slider {
  &__container {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    max-width: 114rem;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
   }

  &__item {
    position: relative;

    &--img {
      object-fit: cover;
    }

    @include tablet {
      height: 45rem;
    }
  }

  &__shade {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
  }

  &__heading {
    color: $white;
    font-size: 5.6rem;
    margin-bottom: 3rem;
    @include lg-desktop {
      font-size: 4.5rem;
      margin-bottom: 1.5rem;
    }
    @include tablet {
      font-size: 4rem;
    }
    @include mobile {
      margin-top: .5rem;
      margin-bottom: 1rem;
    }
  }

  &__text {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: $white;
    letter-spacing: 0.75px;
    margin-bottom: 3.2rem;
    @include lg-desktop {
      font-size: 1.6rem;
      letter-spacing: unset;
    }
    @include mobile {
      margin-bottom: 1rem;
    }
  }

  &__button {
    margin-bottom: 1.5em;
    margin-right: 1.5em;
  }
}

.modern {
  display: block;
  position: absolute;
  z-index: -999;
  opacity: 0;
  visibility: hidden;
}
.classic {
  display: block;
  position: absolute;
  z-index: -999;
  opacity: 0;
  visibility: hidden;
}
.slider-active {
  position: relative !important;
  z-index: 1 !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.slider-field {
  position: relative;
}

.point-wrapper {
  position: absolute;
  // display: flex;

}
.point-wrapper-new {
  position: absolute;
  width: 80px;
  height: 80px;
  overflow: hidden;
  transition: all 300ms ease;
}
.point-info-box-new {
  height: 0;
  opacity: 0;
  width: 100%;
  transition: all 300ms ease;
}
.point-box-new {
  min-width: 80px;
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, .4);
    position: relative;
    overflow: hidden;
    transition: all 300ms ease;
    

}
.point-container {
  display: flex;
  background: rgba(255, 255, 255, .4);
  max-width: 50%;
  transition: all 500ms ease;
  width: 0;
  height: 0;
}
.expand-container {
  width: 100%;
  height: 100%;
  .point-info-box-new {
    opacity: 1;
    height: auto;
  }
}
.point-new {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 2rem;
  left: 2rem;
  background: $pri-accent;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 2rem;
  transition: all 300ms ease;
}
.point-info-box {
  position: absolute;
  left: 90px;
  top: 0;
  width: 200px;
  background: $white;
  min-height: 88px;
  display: none;

  @include tablet {
    left: 60px;
    min-height: 58px;
    width: 180px;
  }
}

.point-box {
  // height: 8rem;
  // width: 8rem;
  background: rgba($white, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
}

.point-text {

  h5 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 10px;
    @include desktop {
      font-size: 1.5rem;
      margin-bottom: 6px;
    }
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;
  }
}

.point {
  width: 36px;
  height: 36px;
  margin: 26px;
  background: $pri-accent;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 2rem;
  transition: all 300ms ease;
  

  @include tablet {
    width: 26px;
    height: 26px;
    margin: 16px;
    font-size: 1.6rem;
  }

  &:hover {
    background: $white;
    color: $pri-accent;
  }
}

.point-1 {
  left: 5%;
  top: 10%;
}
.point-2 {
    right: 25vh;
    top: 10%;
}
.point-3 {
    left: 15%;
    top: 70%;
}
.point-4 {
  right: 25vh;
    top: 65%;
}
.point-5 {
    left: 50%;
    top: 50%;
}


#sliders img {
    width: 100%;
    height: auto;
}

.expand {
  transition: all 300ms ease;
  overflow: auto !important;
  width: auto !important;
  height: auto !important;
}

.point-expander {
  position: absolute;
  height: 80px;
  width: 80px;
  display: flex;
  background: rgba($white, 0.4);
  overflow: hidden;
  transition: all 1000ms ease;
  z-index: 5;

  // opacity: .6;
  @include desktop {
    height: 60px;
    width: 60px;
  }

  @include tablet {
    height: 25px;
    width: 25px;
  }
}
.point-test {
  height: 80px;
  width: 80px;
  min-width: 80px;
  border-radius: 2px;

  @include desktop {
    height: 60px;
    width: 60px;
    min-width: 60px;
  }
  &:hover {
    cursor: pointer;
  }

}

.pin {
  background: $primary;
  position: absolute;
  height: 36px;
  width: 36px;
  left: 22px;
  top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  @include desktop {
    height: 25px;
    width: 25px;
    left: 18px;
    top: 17px;
  }

  @include tablet {
    top: 0;
    left: 0;
  }

  .plusik {
    font-size: 3rem;
    color: $white;
  }

  .icon {
    fill: $white;
    height: 1.5rem;
    width: 1.5rem;
  }
}
.point-content {
  position: initial;
  left: 100px;
  top: 5%;
  width: 0;
  padding: 2rem 2rem 2rem 0;
  transition: all 500ms ease;
  @include small-desktop {
    padding: .5rem .5rem .5rem 0;
  }
}
.point-content-left {
  position: absolute;
  left: -200px;
  width: 198px;
  top: 0;
  padding: 2rem;
  background: hsla(0,0%,100%,.95);
  @include small-desktop {
    padding: .5rem;
  }
  @include mobile {
    position: initial;
    left: 100px;
    top: 5%;
    padding: 2rem 2rem 2rem 0;
    transition: all 500ms ease;
  }
}
.point-bottom {
  bottom: 0;
  top: auto;
}

.expanded {
  overflow: initial;
  max-width: 280px;
  height: auto;
  width: auto;
  background: rgba($white, 0.95);
  opacity: 1;
  transition: all 500ms ease;
  z-index: 10;
  .icon-close {
    transform: rotate(0deg);
  }


}

.icon-close {
  transition: all 300ms ease;
  display: block;
  transform: rotate(45deg);
}

.opened {
  overflow: initial;
  height: auto !important;
  min-height: 50% !important;
  width: auto;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  background: $white;
  z-index: 20;

  @include mobile {
    width: 80%;
  }

  .pin {
    @include tablet {
      top: 10px;
      left: 10px;
    }
  }

  .icon-close{
    @include tablet {
      transform: rotate(0deg);
    }
  }

  .point-content {
    width: 100%;

    .point-text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}