.trends-gallery {

    &__item {
        display: block;
        margin-bottom: 1.5rem;
        text-decoration: none;

        &.bigger{
            height: 75%;
        }
    }
    &__wrapper {
        height: auto;
        overflow: hidden;
        position: relative;

        img.gallery__thumnail {
            margin-bottom: .5rem;
        }

        &.bigger {
            height: 100%;
        }

        .icon-wrapper {
            height: 2.5rem;
            width: 2.5rem;
            .icon.icon-search {
                height: 90%;
                width: 90%;
            }

        }
    }
}

.blueimp-gallery.blueimp-gallery-trends>.slides>.slide>.slide-content, .blueimp-gallery.blueimp-gallery-trends>.slides>.slide>.slide-content>img {
    max-height: 80%;
}