.header-simple {
  padding-top: 13rem;
  @include tablet {
    padding-top: 2.5rem;
  }

  .text__product--description {
    padding-right: 4rem;
    @include mobile {
      padding-right: 0;
    }
  }
}

.testimonial {
  position: relative;
  background: $grey-100;
  padding: 4rem;
  margin: 0 0 2rem 0;
  display: inline-block;
  width: 100%;

  @include tablet {
    padding: 3rem;
  }

  &__title {
    font-weight: 500;
    font-size: 1.8em;
    line-height: 2.8rem;
    letter-spacing: 0.75px;
    padding: 5.6rem 0 0.7em;
  }

  &__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.75px;
    color: $grey-800;
    padding: 5.6rem 0;
  }

  &__title + &__text {
    padding: 0 0 5.6rem 0;
  }

  &__author-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__author {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 1fr 1fr;
    @include mobile {
      margin-bottom: 1rem;
    }
    & * {
      align-self: center;
    }

  }

  &__avatar {
    background: $grey-300;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    overflow: hidden;
    grid-row: span 2;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: .75px;
  }

  &__proffesion {
    grid-column: 2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
  }
}