.category-product {
    padding-top: 8.5rem;
    position: relative;

    @include desktop {
        padding-top: 5rem;
    }


}
.categories {
    & > :not(:last-child) {
        margin-bottom: 2rem;
    }
}
.category-product-card {
    margin-bottom: 2.8rem;
    background: $white;
    text-decoration: none;
    color: inherit;
    
    &__container {
        border: 1px solid $grey-200;
    }

    &__image {
        width: 100%;
    }
    &__content {
        padding: 3rem;
        background: $white;
        transition: all 300ms ease;
        

        @include desktop {
            padding: 1.5rem;
        }

        & > :first-child {
            padding-bottom: 1rem;
        }

        & > :last-child {
            padding-top: 1.5rem;
        }



    }

    &:hover .category-product-card__content {
        background: $grey-100;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    &:hover .btn.btn--added {
        background-color: $grey-100;
    }
    &:hover .btn.btn--added:hover {
        background-color: $grey-200;
    }
    &:active .category-product-card__content {
        background: $grey-100;
        box-shadow: none;
    }

}