// #metamorphose .hero {
//     background-mage: url("../../../../assets/hero/metamorphose.png");
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center center;
// }

.hero {
    height: calc(90vh-13rem);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding-top: 6.4rem;
    position: relative;

    &::after {
        content: '';
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }

    & > .container {
        position: relative;
        z-index: 2;
    }
    
    @include mobile {
        background-attachment: scroll;
        padding-top: 5rem;
        padding-bottom: 2.5rem;
        height: 100%;
        min-height: 50vh;
    }

    @include xs-mobile {
        padding-top: .4rem;
        // min-height: 100vh;
    }

    &__textbox {
        height: 50%;
        color: $white;
        padding: 5rem;
        :not(:last-child) {
            margin-bottom: 2.4rem;
        }
        @include tablet {
            padding: 2.5rem;
        }
        @include xs-mobile {
            padding: 1.5rem;
        }
    }
}

.product {
    height: 100%;
    @include desktop {
        display: flex;
        align-items: center;
    }
    
    &__desc {
        padding-right: 4rem;
        & >  :first-child {
            margin-bottom: 2.5rem;
        }

        @include tablet {
            padding-right: .5rem;
        }
        @include mobile {
            padding-right: 0;
        }
    }


    &__img-container {
        display: flex;
        justify-content: center;
        overflow: hidden;
        
        @include tablet {
            margin-top: 2.5rem;
        }
        img {
            transition: all 1000ms ease;
            &:hover {
                transform: scale(1.075);
            }
        }
    }

    &__img {
        width: auto;
    }

}

.gallery {
    width: 100%;
    &__item {
        position: relative;
        text-decoration: none;

        &:hover .icon-wrapper {
            background: $blue-800;
        }
    }
    &__wrapper {
        height: 100%;
        overflow: hidden;
    }
    &__thumbnail {

        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: all 1000ms ease;
        &:hover {
            transform: scale(1.075);
        }

        // styling trends section irregular images

        &.img-btm {
            max-height: 230px;
        }

        &.img-top {
            max-height: 270px;
        }
    }
}

.icon-wrapper {
    position: absolute;
    right: 0;
    height: 5rem;
    width: 5rem;
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 300ms ease;
    .icon-search {
        width: 3.5rem;
        height: 3.5rem;
        fill: $white;
        // padding: 2rem;
    }
}
.img-label {
    line-height: 3rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: $grey-900;
    padding: .25rem 0;
}