.switcher {
  display: flex;
  justify-content: center;

  @include tablet {
    margin-top: 3rem;
    justify-content: start;
  }
}

.accordion {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 5rem auto;

  &__item {
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &.accordion__active {
      .accordion-control {
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;

        &:after {
          transform: rotate(-90deg) translateX(50%);
        }
      }
    }
  }

  &__active {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1),
      0px 4px 6px rgba(0, 0, 0, 0.05);
  }

  &__panel {
    background: $white;
    display: none;
    padding: 2rem 3rem;
  }
  &__text {
    margin-bottom: 2rem;
    p {
      font-weight: 300;
      font-size: 1.6rem;
      color: $grey-900;
      line-height: 2.8rem;
      letter-spacing: 0.75px;
    }
  }

  .accordion-control {
    position: relative;
    text-align: left;
    font-size: 1.8rem;
    font-family: inherit;
    background: $white;
    color: $primary;
    outline: none;
    border: 1px solid $grey-200;
    padding: 2.8rem 2.4rem;
    cursor: pointer;

    &:after {
      content: ">";
      position: absolute;
      transform: rotate(90deg);
      right: 5%;
      transition: all 300ms ease;
    }
  }
}

.card {
  position: relative;
  overflow: hidden;
  height: 100%;
  
  &:hover &__bg {
    transform: scale(1.075);
  }

  &:hover .hover-card {
    transform: translateY(-100%);
  }
  &__bg {
    height: 100%;
    width: 100%;
    transition: all 1000ms ease;

    object-fit: cover;
  }

  &__img-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    @include desktop {
      max-width: 23rem;
    }
  }

  .hover-card {
    position: absolute;
    height: 45%;
    width: 100%;
    background: $primary;
    color: $white;
    top: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    transition: all 300ms ease;
    transform: translateY(0%);
    min-height: 20rem;

    &__title {
      font-weight: 400;
      font-size: 2.4rem;
      letter-spacing: 1px;
    }

    &__text {
      font-weight: 300;
      font-size: 1.6rem;
      letter-spacing: .75px;
    }
  }

  .active-card {
    background: $blue-700;
  }
}


.feature-box {
  background: $grey-100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-height: 50rem;
  height: 100%;
  border-radius: 2px;

  &__row {
    margin: 30px 0;
  }

  &__heading {
    font-size: 4rem;
    font-weight: 400;
    padding: 0 1em;
    text-align: center;
  }

  @include small-desktop {
    margin-bottom: 2rem;
  }
  @include tablet {
    height: 32rem;
  }
  @include mobile {
    height: auto;
  }
  &__icon {
    height: 17.5rem;
    width: 17.5rem;
    border-radius: 50%;
    margin-top: 5.8rem;
    margin-bottom: 2rem;
    img {
      width: 100%;
    }
    @include tablet {
      height: 15rem;
      width: 15rem;
      margin: 2rem;
    }
  }
  &__description {
    color: $black;
    max-width: 21.5rem;
    text-align: center;
    padding: 0 1rem 2rem;
  }
}
.conception-item {
  &__content {
    padding: 2rem 0;

    & > :not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .card__bg {
    max-height: 60rem;
  }
}

.brands-carousel {
  .flex-control-paging li a.flex-active {
    background: $blue-600;
  }
  
  .flex-viewport {
    min-height: 130px;
  }
  .flex-control-nav {
    bottom: 0;
  }
  ul.slides {
    display: flex;
    align-items: center;
    li {
      max-width: 200px;
      display: flex !important;
      justify-content: center;
      img {
        width: auto;
        @include tablet {
          max-width: 90%;
        }
      }
    }
  }
}
