%resetForm {
  outline: none;
  padding: 1.6rem 2.4rem;
  color: $grey-800;
  border: 1px solid $grey-300;
  font-family: inherit;
  transition: all 300ms ease;
  margin-bottom: 2rem;
  border-radius: 2px;

  &:active, &:focus {
    border: 1px solid $blue-300;
  }

  &::placeholder {
    font-size: 1.6rem;
    font-weight: 300;
    color: $grey-500;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1.6rem;
    font-weight: 300;
    color: $grey-500;
  }
}

.form {
  padding: 3.5rem 0 3.5rem 3.5rem;
  @include tablet {
    padding: 3.5rem 1.5rem;
  }
  @include mobile {
    padding: 2.5rem 0;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
    outline: none;
    border: none

  }

  &__input {
    @extend %resetForm;
    max-width: 38rem;
    min-width: 280px;
    @include tablet {
      min-width: none;
    }

    @include mobile {
      max-height: none;
    }
  }

  &__label {
    font-size: 1.6rem;
    color: $grey-700;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}

textarea {
  @extend %resetForm;
  resize: none;
  height: 16rem;
  min-width: 280px;
  @include tablet {
    min-width: none;
  }

}

.individual-form, .business-form, .investor-form {
  display: none;
}

.form-check {
  margin-bottom: 2rem;
}

.form-check-input {
  // margin-right: 1rem;
  position: absolute;
      opacity: 0;
      width: 1rem;
      height: 1rem;
      cursor: pointer;
      border: 1px solid $grey-300;
      transition: all 200ms ease;
      & + label {
          transition: all 200ms;
          position: relative;
          cursor: pointer;
          padding: 0;
          padding-left: 30px;
          font-size: 1.6rem;
      }

      // Box.
      & + label:before {
          content: '';
          margin-right: 7px;
          margin-left: -30px;
          display: inline-block;
          transition: all 200ms;
          vertical-align: text-top;
          width: 20px;
          height: 20px;
          background: $white;
          border-radius: 2px;
          border: 1px solid $grey-300;
        }
        &:hover + label:before {
          background: $white;
          border: 1px solid $blue-600;
        }
        &:checked + label:before {
          background: $white;
        }
        &:checked + label:after {
          content: '';
          position: absolute;
          left: 5px;
          top: 8px;
          background: $blue-600;
          width: 2px;
          height: 3px;
          box-shadow: 
            2px 0 0 $blue-600,
            4px 0 0 $blue-600,
            4px -2px 0 $blue-600,
            4px -4px 0 $blue-600,
            4px -6px 0 $blue-600,
            4px -8px 0 $blue-600;
          transform: rotate(45deg);
        }
}

.label-link {
  color: $blue-600;
}