// Break points
@mixin lg-desktop {
  @media (max-width: 1449px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin small-desktop {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin xs-mobile {
  @media (max-width: 320px) {
    @content;
  }
}

// UI elements
@mixin button($btn-primary) {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.75px;
  line-height: 28px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: 0;
  transition: all 300ms ease;
  @if $btn-primary {
    background: $primary;
    color: $white;
    padding: 1.2rem 1.6rem;
    &:hover {
      background: $primary-dark;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    &:active {
      background: $primary-dark;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  } @else {
    background: $white;
    color: $primary;
    border: 1px solid $grey-200;
    padding: 1rem 1.6rem;
    &:hover {
      color: $primary-dark;
      background: $grey-100;
      border: 1px solid $grey-100;
    }
    &:active {
      color: $primary;
      background: $grey-200;
      border: 1px solid $grey-100;
    }
  }
  @include mobile {
    font-size: 1.4rem;
  }
}

@mixin decorations($positionY:50%) {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: $positionY;
  transform: translateY(-50%);
  z-index: -1;
  @content;
  .stripe {
    width: 200vw;
    background-color: $primary;
    height: 1px;
    display: block;

    &:not(:first-child) {
      margin-top: 1.5rem;
    }

    &.short {
      margin-left: -30px;
    }

    &.short-product {
      margin-left: 170px;
    }
  }
  .stripe-inner {
    width: 170px;
    height: 1px;
    background: $pri-accent;

    &:not(:first-child) {
      margin-top: 1.5rem;
    }

    &:first-child {
      width: 110px;
      margin-left: 60px;
    }
  }
}

@mixin companies-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex($shrink) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 $shrink;
}