*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    color: $grey-900;

    @include desktop {
      font-size: 57.5%;
    }
    @include xs-mobile {
      font-size: 50%;
    }
    scroll-behavior: smooth;
}

section {
  margin-top: 6rem;
  overflow: hidden;
  @include tablet {
    margin-top: 3rem;
  }
  &.padding-section {
    padding: 7.5rem 0;

    @include tablet {
      padding: 5rem 0;
    }
    @include mobile {
      padding: 3rem 0;
    }
  }
  &.pt {
    padding-top: 7.5rem;
    @include small-desktop {
      padding-top: 4rem;
    }
    @include mobile {
      padding-top: 3rem;
    }
  }
}

header {
  overflow: hidden;
  padding-top: 13rem;

  @include small-desktop {
    padding-top: 5rem;
  }
}
// Override bootstrap .container class
.container, .container-lg, .container-md {
  @media (min-width: 1200px) {
    max-width: 1230px;
  }
}

.w-100 {
  width: 100%;
}

.row {
  position: relative;
}

.image-container {
  display: flex;
  justify-content: end;
  img {
    border-radius: 2px;
    width: 100%;
  }
}



.brands-container {
  @include companies-container;
  min-height: 25rem;
  justify-content: center;
  background: $white;

  &__box {
    @include flex(16.66%);
    min-width: 160px;
    min-height: 100px;
  }

  &__break {
    flex-basis: 100%;
    height: 0;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
}

.p-0 {
  padding: 0;
}

.brands-product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15rem;
  margin: 5em 0;

  @include small-desktop {
    width: 100%;
    justify-content: center;
  } 

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex: 1;

    img {
      max-width: 100%;
      box-sizing: border-box;
    }
  }
}

.advantagesHeader {
  padding-bottom: 10em !important;
  padding-top: 10em !important;
  text-align: center;
  position: relative;
  background: white;
  z-index: 1;

  &__wrapper {
    position: relative;
    overflow: hidden;
    margin: 12em 0;

    &::before {
      background: url('/assets/nasze-atuty/header-left-side.png') no-repeat left center;
      position: absolute;
      content: '';
      right: 50%;
      bottom: 0;
      left: 0;
      top: 0;
    }

    &::after {
      background: url('/assets/nasze-atuty/header-right-side.png') no-repeat right center;
      position: absolute;
      content: "";
      bottom: 0;
      right: 0;
      left: 50%;
      top: 0;
    }
  }

  &__header {
    font-size: 4.8em !important;
    color: #0280c7;
  }

  &__description {
    justify-content: space-between;
    flex-direction: column;
    letter-spacing: .75px;
    line-height: 1.8em;
    font-weight: 300;
    max-width: 40em;
    padding: 2em 0;
    font-size: 2em;
    display: flex;
    margin: auto;
  }

  &__button {
    letter-spacing: .75px;
    text-decoration: none;
    display: inline-block;
    background: #0280c7;
    border-radius: 2px;
    line-height: 26px;
    font-weight: 400;
    font-size: 2rem;
    padding: 1em;
    color: white;
  }
}

.advantagesContact {
  background: #0280c7;
  position: relative;
  font-size: 1.6em;
  max-width: 50em;
  margin: auto;
  z-index: 1;

  &__wrapper {
    margin-bottom: 12em;
    background: #0280c7;
    border-radius: 4px;
    text-align: center;
    position: relative;
    margin-top: 12em;
    padding: 6em;
    color: white;

    &::before {
      background: url('/assets/nasze-atuty/contact-deco-lines-left.png') no-repeat left center;
      position: absolute;
      content: '';
      bottom: 50%;
      right: 50%;
      left: 0;
      top: 0;
    }

    &::after {
      background: url('/assets/nasze-atuty/contact-deco-lines-right.png') no-repeat right center;
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      right: 0;
      top: 50%;
    }
  }

  &__header {
    font-weight: 400;
    font-size: 3rem;
  }

  &__description {
    letter-spacing: .75px;
    font-size: 1.6rem;
    line-height: 26px;
    font-weight: 300;
    padding: 2em 0;
    margin: auto;
  }

  &__button {
    letter-spacing: .75px;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    line-height: 26px;
    background: white;
    font-size: 1.6rem;
    font-weight: 400;
    color: #0280c7;
    padding: 1em;
  }
}

.cta-box {
  margin-top: 4rem;
  & > :first-child {
    margin-bottom: 2rem;
  }
}



@keyframes showInfo {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
}
.media-placeholder {
  background: $grey-900;
  width: 100%;
  height: 42rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 1.6rem;
}

.colored-section {
  background: $primary;
  padding: 5rem 0;

  .brands-container {
    min-height: 30rem;

    &__box {
      flex: 0 0 25%;
    }
  }  


  .logo-container {
    width: 100%;
    height: calc(100% - 6.4rem);
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.form-section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.title-container {
  padding: 3rem 0;
}

.conception-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.conception-logo {
  width: auto;
  @include desktop {
    height: 100%;
  }
  @include tablet {
    width: 100%;
  }
}

.anchor {
  display: block;
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
}

.blueimp-gallery {
  background: rgba(#000, .75);
  a.next, a.prev {
    border-radius: 0;
    border: 0;
    width: 4rem;
    height: 10.8rem;
    padding: 0 0.3rem;
    font-size: 2rem;
    text-decoration: none;
    transition: all 200ms;
    position: absolute;
    z-index: 1;
    top: 50%;
    
    transform: translateY(-50%);
    background: $white;
    opacity: .75;
    &::before {
      position: absolute;
      right: 50%;
      top: 50%;
      color: $primary;
      transform: translate(50%, -50%);
    }
    @include mobile {
      height: 7rem;
      width: 2.5rem;
    }
    &:hover {
      background: $white;
    }
  }
  a.next {
    right: 0;
  }
  a.prev {
    left: 0;
  }
  a.next::before {
    content: ">";
  }
  a.prev::before {
    content: "<";
  }
  a.close {
    border-radius: 0;
    height: 4rem;
    width: 4rem;
    background: $white;
    right: 0;
    top: 0;
    &::before, &::after {
      position: absolute;
      content: "";
      height: 2px;
      mix-blend-mode: round($number: 2);
      width: 2rem;
      background: $primary;
      top: 50%;
      left: 50%;
    }
    &::before {
      transform: translate(-50%,50%) rotate(45deg); 
    }
    &::after {
      transform: translate(-50%,50%) rotate(-45deg);
    }
  }

  .title {
    display: block;
    position: absolute;
    top: 5%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.img-wrapper {
  overflow: hidden;

  img.zoom {
    width: 100%;
    transition: all 1s ease;

    &:hover {
      transform: scale(1.075);
    }
  }
}

.zoom-container {
  height: 45%;
}

.trend {
  padding-bottom: 15rem;
  @include small-desktop {
    padding-bottom: 7.5rem;
  }
}

.effect {
  width: 100%;
  transition: all 1s ease;

  &:hover {
    transform: scale(1.075);
  }
}
.map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.contour {
  //
  &__category {
    //
  }

  &__title {
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 4rem;
    margin-bottom: 2em;
  }

  &__boxes {
    margin-bottom: 12em;
  }

  &__box {
    //
  }

  &__map {

    img {
      max-width: 100%;
      text-align: center;
      display: block;
      margin: 4em auto;
    }
  }

  &__text {

    &  a {
      text-decoration: none;
      font-weight: 400;
      color: inherit;
    }
  }
}

.video {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.conception-wrapper {
  position: relative;
  width: 100%;
  min-height: 50rem;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 1s ease;
  @include desktop {
    background-size: cover;
  }
  &:hover {
    background-size: 110%;
    @include desktop {
      background-size: cover;
    }
  }

  @include mobile {
    min-height: 35rem;
  }

}

.my-7 {
  margin: 7rem 0;
}

.reference {
  &__text-box {
    padding-right: 2rem;
    max-width: 67rem;
    padding-right: 4rem;
    margin: 5rem 1rem 3rem auto;
    @include  small-desktop {
      padding-right: .5rem;
      max-width: 42rem;
    }

    @include tablet {
      margin: 3rem;
      max-width: unset;
    }
  }

  &__img {
    width: 90%;
    @include small-desktop {
      width: 100%;
    }
  }
}
.reference__text-box {
  p {
    line-height: 28px;
    font-size: 18px;
  }
}

.grow-img-container {
  overflow: hidden;
}
.grow-img {
  transition: all 1000ms ease;
  &:hover {
      transform: scale(1.075);
  }
}