.heading {
  //padding: 5rem 0;

  &__primary {
    font-size: 4.8rem;
    font-weight: 500;
    letter-spacing: 1px;

    @include tablet {
      margin-top: 5rem;
      font-size: 3rem;
    }
  }

  &__secondary {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 1px;
  }

  & h2 {
    font-size: 4rem;
    font-weight: 400;
    @include small-desktop {
      font-size: 2.5rem;
    }
  }

  &__hero {
    font-size: 4.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    @include tablet {
      font-size: 3.6rem;
    }
  }

  &__main {
    text-align: left;
    letter-spacing: 1px;

    &--primary {
      color: $grey-900;
    }

    &--secondary {
      color: $primary;
    }
  }

  &__further {
    text-align: center;
    @include tablet {
      text-align: left;
    }
  }

  &__description {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.75px;
    line-height: 2.8rem;
    @include tablet {
      font-size: 1.6rem;
    }
  }

  &__category-card {
    font-size: 2.4rem;
    font-weight: 400;
    color: $grey-900;

    @include desktop {
      font-size: 2rem;
    }
  }

  &--small {
    font-size: 2.4rem;
    font-weight: 500;
  }

  &--thin {
    font-weight: 400;
    font-size: 2.4rem;
  }
}

.text {
  &__paragraph {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 26px;
    letter-spacing: 0.75px;

    p,
    strong {
      margin-bottom: 2rem;
    }

    &--testimonial {
      color: $grey-800;
    }
    &--spaced-top {
      margin-top: 2rem;
    }
    &--spaced-right {
      padding-right: 10rem;
      @include small-desktop {
        padding-right: 0;
      }
    }
    &--bolded {
      font-weight: 500;
      font-size: 1.8rem;
    }
  }

  &__description {
    font-size: 1.6rem;
    font-weight: 300;
  }
  &__category-card {
    font-size: 1.6rem;
  }

  &__product {
    font-weight: 300;
    font-size: 1.6rem;
    letter-spacing: 0.75px;
    line-height: 2.8rem;
    color: $black;

    & :not(:last-child) {
      margin-bottom: 2.5rem;
    }

    &--list {
    }
  }

  &--light {
    color: $white;
  }
}

.breadcrumbs {
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.75px;
  text-decoration: none;

  a {
    text-decoration: none;
  }

  &__main {
    color: $white;
  }

  &__current {
    color: $white;
  }
}

.sub-heading {
  font-size: 1.6rem;
  font-weight: 300;
  color: $grey-900;
  letter-spacing: 0.75px;
}

.title-box {
  padding: 1rem 0 3rem;
}

.small-text {
  font-weight: 500;
  font-size: 1.4rem;
}

.text-link {
  text-decoration: none;
  color: inherit;
  transition: all 300ms ease;
  &:hover {
    color: $primary;
  }
}

.bold {
  font-weight: 500;
}
section .text ul, section .product ul {
  list-style-type: none;
  padding-left: 4rem;
  li {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 12px;
      width: 12px;
      background: $primary;
      left: -2.5rem;
      top: 50%;
      transform: translate(-100%, -50%);
    }
  }
}


.form-status {
  &__info {
    position: relative;
    margin-bottom: 7.5rem;
  }
  .icon {
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    opacity: .5;
    @include tablet {
      height: 40px;
      width: 40px;
    }
    @include mobile {
      right: 35px;
      top: 170%;
    }

    &.icon-notice {
      fill: rgb(226, 37, 37);
    }
    &.icon-checkmark {
      fill: rgb(18, 168, 13);
    }
  }
  &__text{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: $grey-600;
  }
}
