// Colors palette

$grey-900: #0F172A;
$grey-800: #1E293B;
$grey-700: #334155;
$grey-600: #475569;
$grey-500: #64748B;
$grey-400: #94A3B8;
$grey-300: #CBD5E1;
$grey-200: #E2E8F0;
$grey-100: #F1F5F9;
$grey-000: #F8FAFC;

$blue-900: #1E3A8A;
$blue-800: #075985;
$blue-700: #0369A1;
$blue-600: #0280C7;
$blue-500: #0EA5E9;
$blue-400: #60A5FA;
$blue-300: #93C5FD;
$blue-200: #BFDBFE;
$blue-100: #DBEAFE;
$blue-000: #F0F9FF;

// Used variables
$primary: $blue-600;
$primary-dark: $blue-800;
$pri-accent: $blue-600;

$grey-main: $grey-200; // for borders, backgrounds, etc.
$white: #fff; // for fonts, backgrounds